body {
  font-family: "Arial", Sans-Serif;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px 40px;
}

.item {
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
}

.item:hover {
  text-decoration: underline;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background-color: #4ad295;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

/* MAIN CONTENT */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/* FORM-SEARCH */
.form {
  position: relative; /*  */
  margin-top: 32px;
  width: 40%;
}

.form:focus {
  outline: none;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 40px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  font-size: 16px;
}

.input:hover,
input:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  left: 16px;
}

.speaker-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* BUTTONS */
.buttons {
  display: flex;

  margin-top: 32px;
}

.buttons .button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  color: #5f6368;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.button:last-child {
  margin-left: 16px;
}

/* LANGUAGES */

.lang {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-left: 660px;
}

.lang a {
  text-decoration: none;
}

.lang a:hover {
  text-decoration: underline;
}

/* FOOTER */

.footer {
  margin-top: auto;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
}

.country {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 32px;
  border-bottom: 1px solid #e4e4e4;
  color: rgba(0, 0, 0, 0.54);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 32px;
}

.link {
  color: #5f6368;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:not(:last-child) {
  margin-right: 24px;
}
